/shapes_translation_events.mat
/shapes_translation_groundtruth.mat

*.m~

data/*
data/shapes_rotation_events.mat
data/shapes_rotation_groundtruth.mat
data/boxes_6dof_calib.mat
data/boxes_6dof_events.mat
data/boxes_6dof_groundtruth.mat
data/dynamic_6DoF_events.mat
data/dynamic_6DoF_groundtruth.mat
